@font-face {
  font-family: MyriadPro-Semibold;
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'), url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro-Semibold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'), url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro-Regular.svg#svgFontName') format('svg');
}
body {
  font-family: MyriadPro-Semibold, Arial, sans-serif;
  background: #fbfbfb;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
input:focus {
  outline: none;
}
.icn-sprite {
  background: url("../images/icons-sprite.png") 0 0 no-repeat;
}
.icn-sprite-mm {
  background: #fbfbfb url("../images/icons-sprite.png") 0 0 no-repeat;
}
/*==============================
    FOOTER DOWN
===============================*/
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
  text-align: left;
}
@media all and (max-width: 1059px) {
  #main {
    margin: 0 auto -117px;
  }
}
@media all and (max-width: 480px) {
  #main {
    margin: 0 auto -40px;
  }
}
.footer-push {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  clear: both;
}
@media all and (max-width: 1059px) {
  .footer-push {
    height: 117px;
  }
}
@media all and (max-width: 480px) {
  .footer-push {
    height: 40px;
  }
}
/*==============================
    RATING
===============================*/
.rating {
  border: none;
  float: left;
  padding: 0;
}
.rating > input {
  display: none;
}
.rating > label:before {
  margin: 0 1px 0 1px;
  font-size: 14px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > .half:before {
  content: "\f089";
  position: absolute;
}
.rating > label {
  color: #ddd;
  float: right;
}
/*===============================================
    RATING CSS MAGIC TO HIGHLIGHT STARS ON HOVER
================================================*/
.rating label:hover {
  cursor: pointer;
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}
/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
/*==============================
    HEADER
===============================*/
#header {
  padding: 37px 0 0 0;
  margin: 0 0 37px 0;
}
@media all and (max-width: 850px) {
  #header {
    margin-bottom: 15px;
    padding-top: 20px;
  }
}
/* Nav bar settings */
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  background: transparent;
  border: none;
}
.navbar-wrapper {
  clear: both;
}
@media all and (max-width: 599px) {
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.navbar-nav > li > a {
  padding: 0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fdcc05;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
}
/* fix for bootstrap nav pills first item */
.nav-pills > li + li {
  margin-left: 1px;
}
#first-collapse-block,
#second-collapse-block {
  border: none;
  overflow: hidden;
}
.navbar-header button.navbar-toggle {
  margin: 12px 0 0 0;
}
/* Logo */
.logo {
  width: 162px;
  height: 48px;
  margin-top: 2px;
  display: block;
  background-position: -109px -136px;
}
/* Navbar right links */
.navbar-right-links {
  float: right;
  width: 163px;
  height: 50px;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .navbar-right-links {
    width: 30%;
    margin: 17px 0 0 0;
  }
}
@media screen and (max-width: 479px) {
  .navbar-right-links {
    margin: 10px 0 0 0;
    width: 40%;
  }
}
.navbar-right-links li {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
}
.navbar-right-links li a {
  font: 14px/16px MyriadPro-Regular;
  color: #999999;
}
.navbar-right-links li span.sing-up,
.navbar-right-links li span.login {
  display: block;
  margin: 0 auto;
  height: 17px;
}
.navbar-right-links li span.sing-up {
  width: 16px;
  background: url("../images/icons-sprite.png") -133px -112px no-repeat;
}
.navbar-right-links li span.login {
  width: 14px;
  background: url("../images/icons-sprite.png") -151px -112px no-repeat;
}
.navbar-right-links li:first-child {
  padding-right: 10%;
  background: url("../images/separator.png") 100% 12px no-repeat;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .navbar-right-links li:first-child {
    padding-right: 7%;
  }
}
@media screen and (max-width: 379px) {
  .navbar-right-links li:first-child {
    padding-right: 6%;
  }
}
.navbar-right-links li:last-child {
  padding-left: 10%;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .navbar-right-links li:last-child {
    padding-right: 7%;
  }
}
@media screen and (max-width: 379px) {
  .navbar-right-links li:last-child {
    padding-right: 6%;
  }
}
/* Search */
.search {
  position: relative;
  float: right;
  margin: 0 23px 0 0;
  /* Search drop down categories */
}
@media screen and (min-width: 1060px) {
  .search {
    width: 444px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1059px) {
  .search {
    margin: 0 13px 0 0;
    width: 380px;
  }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
  .search {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .search {
    width: 68%;
    margin: 17px 0 0 0;
    float: left;
  }
}
@media screen and (max-width: 479px) {
  .search {
    float: left;
    margin: 10px 0 0 0;
    width: 57%;
  }
}
.search input {
  border: none;
}
.search input::-webkit-input-placeholder {
  color: #e7e7e7;
}
.search input::-moz-placeholder {
  color: #e7e7e7;
}
.search input:-moz-placeholder {
  color: #e7e7e7;
}
.search input:-ms-input-placeholder {
  color: #e7e7e7;
}
.search input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search input:focus::-moz-placeholder {
  color: transparent;
}
.search input:focus:-moz-placeholder {
  color: transparent;
}
.search input:focus:-ms-input-placeholder {
  color: transparent;
}
.search input[type=text] {
  width: 100%;
  height: 50px;
  padding: 0 45% 0 43px;
  font: italic 15px/17px MyriadPro-Regular;
  color: #e7e7e7;
  border: 1px solid #e8e8e8;
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (min-width: 850px) and (max-width: 1059px) {
  .search input[type=text] {
    padding: 0 52% 0 43px;
  }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
  .search input[type=text] {
    padding: 0 40% 0 43px;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .search input[type=text] {
    padding: 0 15% 0 43px;
  }
}
@media screen and (max-width: 479px) {
  .search input[type=text] {
    padding: 0 24% 0 43px;
  }
}
.search span.search-icon {
  width: 21px;
  height: 21px;
  background-position: -69px -113px;
  display: block;
  position: absolute;
  margin-top: 14px;
  margin-left: 9px;
  top: 0;
  left: 0;
}
.search .search-categories-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 4px 12px 4px 12px;
  margin-right: 43px;
  margin-top: 12px;
}
@media all and (max-width: 600px) {
  .search .search-categories-dropdown {
    display: none;
  }
}
.search .search-categories-dropdown .search-dropdown {
  font: 15px/17px MyriadPro-Regular;
  color: #e7e7e7;
  text-decoration: none;
}
.search .search-categories-dropdown .search-dropdown span {
  width: 18px;
  height: 9px;
  background-position: -90px -114px;
  display: inline-block;
  margin: 0 0 0 10px;
}
.search .search-categories-dropdown .dropdown-menu li {
  clear: both;
}
.search input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 14px;
  margin-right: 11px;
  width: 22px;
  height: 22px;
  background-position: -109px -112px;
}
/* Main menu */
.main-menu {
  width: 100%;
  margin: 39px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  float: none;
}
@media all and (min-width: 850px) {
  .main-menu {
    background: url("../images/mm-line.png") 0 15px repeat-x;
  }
}
@media all and (max-width: 850px) {
  .main-menu {
    margin-top: 20px;
    border-bottom: 1px solid #eaeaea;
  }
}
.main-menu li {
  text-align: center;
  display: inline-block;
  float: none;
}
@media all and (max-width: 1060px) {
  .main-menu li {
    margin-bottom: 20px;
  }
}
@media all and (min-width: 850px) and (max-width: 1059px) {
  .main-menu li {
    width: auto;
  }
}
@media all and (max-width: 480px) {
  .main-menu li {
    width: 50%;
  }
}
.main-menu li a {
  color: #555555;
  font: 16px/16px MyriadPro-Semibold;
}
.main-menu li a i {
  background: #fbfbfb;
  padding: 0 6px;
  display: inline-block;
}
.main-menu li a span {
  display: block;
}
.main-menu li a b {
  display: block;
  font-weight: normal;
}
.main-menu li.active a b {
  color: #fdcc05;
}
/* Main menu bg styles */
.mm-home-link span {
  width: 26px;
  height: 24px;
  margin: 3px auto 21px auto;
  background-position: 0 0;
}
.mm-home-link:hover span,
.main-menu li.active > a.mm-home-link span {
  background-position: 0 -25px;
}
.mm-photo-link span {
  width: 26px;
  height: 18px;
  margin: 7px auto 23px auto;
  background-position: -28px -6px;
}
.mm-photo-link:hover span,
.main-menu li.active > a.mm-photo-link span {
  background-position: -28px -31px;
}
.mm-video-link span {
  width: 26px;
  height: 14px;
  margin: 9px auto 25px auto;
  background-position: -56px -10px;
}
.mm-video-link:hover span,
.main-menu li.active > a.mm-video-link span {
  background-position: -56px -35px;
}
.mm-env-link span {
  width: 25px;
  height: 24px;
  margin: 5px auto 19px auto;
  background-position: -84px 0;
}
.mm-env-link:hover span,
.main-menu li.active > a.mm-env-link span {
  background-position: -84px -25px;
}
.mm-travel-link span {
  width: 26px;
  height: 17px;
  margin: 8px auto 23px auto;
  background-position: -111px -7px;
}
.mm-travel-link:hover span,
.main-menu li.active > a.mm-travel-link span {
  background-position: -111px -31px;
}
.mm-adventure-link span {
  width: 26px;
  height: 25px;
  margin: 1px auto 22px auto;
  background-position: -139px 0;
}
.mm-adventure-link:hover span,
.main-menu li.active > a.mm-adventure-link span {
  background-position: -139px -25px;
}
.mm-tv-link span {
  width: 26px;
  height: 25px;
  margin: 0 auto 23px auto;
  background-position: -165px 0;
}
.mm-tv-link:hover span,
.main-menu li.active > a.mm-tv-link span {
  background-position: -165px -26px;
}
.mm-kids-link span {
  width: 21px;
  height: 29px;
  margin: 3px auto 16px auto;
  background-position: -193px 0;
}
.mm-kids-link:hover span,
.main-menu li.active > a.mm-kids-link span {
  background-position: -193px -30px;
}
/*==============================
    CONTENT
===============================*/
#main > .container {
  padding-bottom: 20px;
}
@media all and (min-width: 850px) {
  #content {
    border-right: 1px solid #eaeaea;
  }
}
/* Content left navigation */
.content-left-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
@media all and (min-width: 1059px) {
  .content-left-nav {
    border-right: 1px solid #eaeaea;
  }
}
.content-left-nav li {
  width: 48%;
  text-align: center;
  margin: 0 0 6px 0;
  /* for tablets */
  /* for middle devises */
  /* for small devises */
  /* for extra small devises */
}
@media all and (min-width: 850px) and (max-width: 1059px) {
  .content-left-nav li {
    width: 19%;
  }
}
@media all and (min-width: 600px) and (max-width: 849px) {
  .content-left-nav li {
    width: 19%;
  }
}
@media all and (min-width: 480px) and (max-width: 599px) {
  .content-left-nav li {
    width: 19%;
  }
}
@media all and (min-width: 320px) and (max-width: 479px) {
  .content-left-nav li {
    width: 19%;
  }
}
@media all and (max-width: 359px) {
  .content-left-nav li {
    width: 49%;
  }
}
.content-left-nav li a {
  min-height: 70px;
  line-height: 68px !important;
  display: block;
  border: 1px solid #eaeaea;
  background: #ffffff;
  font: 12px/14px MyriadPro-Regular;
  color: #777;
  /* content left menu icons sizes */
}
.content-left-nav li a .nav-content-info {
  line-height: normal !important;
  display: inline-block;
  vertical-align: middle;
}
.content-left-nav li a span {
  display: inline-block;
}
.content-left-nav li a b {
  font-weight: normal;
  display: block;
  margin: 5px 0 0 0;
}
.content-left-nav li a span.icn-daily-news {
  width: 26px;
  height: 22px;
  background-position: -2px -59px;
}
.content-left-nav li a span.icn-magazine {
  width: 26px;
  height: 26px;
  background-position: -29px -59px;
}
.content-left-nav li a span.icn-maps {
  width: 26px;
  height: 26px;
  background-position: -56px -59px;
}
.content-left-nav li a span.icn-science {
  width: 23px;
  height: 27px;
  background-position: -86px -59px;
}
.content-left-nav li a span.icn-education {
  width: 31px;
  height: 22px;
  background-position: -109px -59px;
}
.content-left-nav li a span.icn-games {
  width: 26px;
  height: 25px;
  background-position: -141px -59px;
}
.content-left-nav li a span.icn-events {
  width: 26px;
  height: 27px;
  background-position: -170px -59px;
}
.content-left-nav li a span.icn-blogs {
  width: 26px;
  height: 26px;
  background-position: -197px -59px;
}
.content-left-nav li a span.icn-explorers {
  width: 19px;
  height: 26px;
  background-position: -224px -59px;
}
.content-left-nav li a span.icn-trips {
  width: 26px;
  height: 21px;
  background-position: -244px -59px;
}
.content-left-nav li a:hover,
.content-left-nav li.active a {
  background: #555555;
  border: none;
  color: #ffffff;
  /* content left menu icons sizes on hover */
}
.content-left-nav li a:hover span.icn-daily-news,
.content-left-nav li.active a span.icn-daily-news {
  background-position: -2px -86px;
}
.content-left-nav li a:hover span.icn-magazine,
.content-left-nav li.active a span.icn-magazine {
  background-position: -29px -86px;
}
.content-left-nav li a:hover span.icn-maps,
.content-left-nav li.active a span.icn-maps {
  background-position: -56px -86px;
}
.content-left-nav li a:hover span.icn-science,
.content-left-nav li.active a span.icn-science {
  background-position: -86px -86px;
}
.content-left-nav li a:hover span.icn-education,
.content-left-nav li.active a span.icn-education {
  background-position: -109px -86px;
}
.content-left-nav li a:hover span.icn-games,
.content-left-nav li.active a span.icn-games {
  background-position: -141px -86px;
}
.content-left-nav li a:hover span.icn-events,
.content-left-nav li.active a span.icn-events {
  background-position: -170px -86px;
}
.content-left-nav li a:hover span.icn-blogs,
.content-left-nav li.active a span.icn-blogs {
  background-position: -197px -86px;
}
.content-left-nav li a:hover span.icn-explorers,
.content-left-nav li.active a span.icn-explorers {
  background-position: -224px -86px;
}
.content-left-nav li a:hover span.icn-trips,
.content-left-nav li.active a span.icn-trips {
  background-position: -244px -86px;
}
.content-left-nav li:last-child,
.content-left-nav li:nth-last-child(2) {
  margin: 0;
}
/* Content tabs */
.nav-pills {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  /* for tablet */
  /* for middle devises */
  /* for small devises */
  /* for extra small devises */
}
@media all and (min-width: 850px) and (max-width: 1059px) {
  .nav-pills {
    margin: 5px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
@media all and (min-width: 600px) and (max-width: 849px) {
  .nav-pills {
    margin: 5px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
@media all and (min-width: 480px) and (max-width: 699px) {
  .nav-pills {
    margin: 5px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
@media all and (min-width: 360px) and (max-width: 479px) {
  .nav-pills {
    margin: 5px 0 8px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
@media all and (max-width: 359px) {
  .nav-pills {
    margin: 10px 0 8px 0;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
.nav-pills li {
  width: 16%;
}
@media all and (min-width: 320px) and (max-width: 479px) {
  .nav-pills li {
    width: 33%;
    margin-bottom: 2px;
  }
}
.nav-pills li a {
  text-align: center;
  font: 12px/11px MyriadPro-Regular;
  color: #555555;
  padding: 10px 0;
  border-radius: 0;
  border: 1px solid #eaeaea;
  background: #ffffff;
  display: block;
}
.nav-pills li a:hover {
  background: #555555;
  color: #ffffff;
  border: 1px solid #555555;
}
.nav-pills li.active a {
  background: #555555 !important;
  border: 1px solid #555555;
}
@media all and (min-width: 480px) {
  .nav-pills li.active a::after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #555555;
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* Slider */
.slider .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  color: #555555;
  text-align: left;
  padding: 0 0 0 14px;
  border: 1px solid #eaeaea;
  text-shadow: none;
  float: left;
  width: 100%;
}
.slider .carousel-caption .slide-description-wrapper {
  width: 80%;
  float: left;
  margin: 8px 0 8px 0;
}
.slider .carousel-caption .slide-description-wrapper h2 {
  font: 15px/17px MyriadPro-Semibold;
  padding: 0 0 2px 0;
}
.slider .carousel-caption .slide-description-wrapper p {
  font: 11px/17px MyriadPro-Regular;
  margin: 0;
}
.slider .carousel-caption a {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 53px;
  line-height: 53px;
  min-height: 100%;
  height: 100%;
  border-left: 1px solid #eaeaea;
  text-align: center;
}
.slider .carousel-caption a span.icn-play {
  display: inline-block;
  width: 14px;
  height: 16px;
  background-position: -169px -115px;
}
.slider .carousel-indicators {
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  width: auto;
  height: 35px !important;
  margin: 0;
}
.slider .carousel-indicators li {
  width: auto;
  height: auto;
  padding: 8px 11px;
  background: #555555;
  border: none;
  text-indent: 0;
  border-radius: 0;
  font: 16px/16px MyriadPro-Semibold;
  color: #ffffff;
  margin: 0;
  float: left;
}
.slider .carousel-indicators li.active {
  background: #fdcc05;
}
.slider .item img {
  display: block;
  line-height: 1;
  width: 100%;
  max-height: 226px;
}
/* Content bottom filter */
.content-filter-wrapper {
  margin: 10px 0 0 0;
}
.content-filter-wrapper .content-bottom-filter {
  height: 32px;
  border: 1px solid #eaeaea;
  background: #ffffff;
}
.content-filter-wrapper .content-bottom-filter .filter-title {
  margin: 8px 0 0 12px;
  float: left;
}
.content-filter-wrapper .content-bottom-filter .filter-title p {
  font: 12px/16px MyriadPro-Semibold;
  color: #555555;
  vertical-align: middle !important;
  display: inline-block;
}
.content-filter-wrapper .content-bottom-filter .filter-title span.icn-time {
  width: 16px;
  height: 16px;
  background-position: -2px -112px;
  display: inline-block;
  margin: 0 8px 0 0;
}
.content-filter-wrapper .content-bottom-filter .filter-menu-wrapper {
  float: left;
  margin: 5px 0 0 19px;
  border-left: 1px solid #eaeaea;
  padding: 4px 0 4px 25px;
  position: relative;
}
.content-filter-wrapper .content-bottom-filter .filter-menu-wrapper .news-filter-dropdown {
  font: 12px/12px MyriadPro-Regular;
  color: #cecece;
  text-decoration: none;
}
@media all and (max-width: 375px) {
  .content-filter-wrapper .content-bottom-filter .filter-menu-wrapper .news-filter-dropdown {
    display: none;
  }
}
.content-filter-wrapper .content-bottom-filter .filter-menu-wrapper .news-filter-dropdown span {
  width: 18px;
  height: 9px;
  background-position: -90px -114px;
  display: inline-block;
  margin: 0 0 0 10px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list {
  float: right;
  margin: -1px 0 0 0;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li {
  float: left;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a {
  display: block;
  background: #555555;
  text-align: center;
  padding: 0 13px;
  height: 31px;
  line-height: 32px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a span {
  display: inline-block;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a span.icn-sort-table {
  width: 16px;
  height: 14px;
  background-position: -20px -113px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a span.icn-sort-grid {
  width: 16px;
  height: 17px;
  background-position: -37px -113px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a.sort-table {
  line-height: 35px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a.sort-grid {
  line-height: 40px;
}
.content-filter-wrapper .content-bottom-filter .sorting-list li a:hover {
  background: #fdcc05;
}
/* Content list news */
.content-list-news-wrapper {
  margin: 7px 0 -11px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-list-news-wrapper article {
  width: 49.4%;
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 5px;
  margin: 0 0 10px 0;
  /* Article width for middle devises */
  /* Article width for small devises */
  /* Article width for extra small devises */
}
@media all and (min-width: 600px) and (max-width: 849px) {
  .content-list-news-wrapper article {
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 599px) {
  .content-list-news-wrapper article {
    width: 100%;
  }
}
@media all and (max-width: 479px) {
  .content-list-news-wrapper article {
    width: 100%;
  }
}
.content-list-news-wrapper article .article-preview {
  float: left;
  width: 100%;
  padding: 5px;
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  margin: 0 0 12px 0;
}
.content-list-news-wrapper article .article-preview a {
  display: block;
}
.content-list-news-wrapper article .article-preview a img {
  width: 100%;
  margin: 0 0 9px 0;
}
.content-list-news-wrapper article .article-preview .article-title-wrapper {
  padding: 0;
  float: left;
}
.content-list-news-wrapper article .article-preview .article-title-wrapper h1 {
  margin: 0 0 0 2px;
}
.content-list-news-wrapper article .article-preview .article-title-wrapper h1 a {
  font: 14px/16px MyriadPro-Semibold;
  color: #555555;
}
.content-list-news-wrapper article .article-preview .article-title-wrapper span.time {
  font: 11px/13px MyriadPro-Regular;
  color: #b9b9b9;
  margin: 0 0 0 2px;
}
.content-list-news-wrapper article .article-preview .rating-wrapper {
  float: right;
  margin: -3px 0 0 0;
  padding: 0;
}
.content-list-news-wrapper article .article-preview .rating-wrapper span.views-counter {
  font: 11px/13px MyriadPro-Regular;
  color: #b9b9b9;
  display: block;
  margin: -5px 0 0 6px;
  float: left;
  clear: both;
}
.content-list-news-wrapper article p {
  font: 12px/15px MyriadPro-Regular;
  color: #b5b5b5;
  text-align: justify;
  padding: 0 2px 0 2px;
}
/*==============================
    SIDEBARS
===============================*/
#right-sidebar {
  float: left;
  /* Right side bar top margin for small and extra small devises */
}
@media all and (max-width: 849px) {
  #right-sidebar {
    margin: 10px 0 0 0;
  }
}
#right-sidebar .most-popular-news-wrapper {
  float: left;
}
#right-sidebar .most-popular-news-wrapper .sidebar-title {
  padding: 7px 8px 3px 8px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  float: left;
  width: 100%;
}
#right-sidebar .most-popular-news-wrapper .sidebar-title span {
  margin: 0 10px 0 0;
}
#right-sidebar .most-popular-news-wrapper .sidebar-title span.icn-star {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: -185px -115px;
}
#right-sidebar .most-popular-news-wrapper .sidebar-title span.icn-video {
  width: 16px;
  height: 12px;
  display: inline-block;
  background-position: -202px -115px;
  margin: -3px 10px 0 0;
}
#right-sidebar .most-popular-news-wrapper .sidebar-title h2 {
  font: 12px/16px MyriadPro-Semibold;
  color: #777;
  display: inline-block;
  vertical-align: top;
  margin: 1px 0 0 0;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list {
  float: left;
  margin: 6px 0 0 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li {
  width: 100%;
  padding: 5px;
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  margin: 0 0 7px 0;
  /* for middle devises */
  /* for small devises */
  /* for extra small devises */
}
@media all and (min-width: 600px) and (max-width: 849px) {
  #right-sidebar .most-popular-news-wrapper .popular-news-list li {
    width: 49.4%;
  }
}
@media all and (min-width: 480px) and (max-width: 599px) {
  #right-sidebar .most-popular-news-wrapper .popular-news-list li {
    width: 49.4%;
  }
}
@media all and (min-width: 320px) and (max-width: 479px) {
  #right-sidebar .most-popular-news-wrapper .popular-news-list li {
    width: 100%;
  }
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li a {
  display: block;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li a img {
  width: 100%;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li .description-news {
  margin: 7px 0 0 0;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li .description-news .left-block h3 {
  font: 13px/15px MyriadPro-Semibold;
  color: #777;
  margin: 0 0 3px 1px;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li .description-news .left-block span {
  display: block;
  font: 11px/13px MyriadPro-Regular;
  color: #b9b9b9;
  margin: 0 0 0 1px;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li .description-news .right-block .rating {
  float: right;
  margin: -2px 0 0 0;
}
#right-sidebar .most-popular-news-wrapper .popular-news-list li .description-news .right-block span {
  font: 11px/13px MyriadPro-Regular;
  color: #b9b9b9;
  display: block;
  margin: -5px 15px 0 0;
  float: right;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  float: left;
  margin: 6px 0 0 0;
  width: 100%;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li {
  width: 100%;
  padding: 5px;
  background: #fbfbfb;
  border: 1px solid #eaeaea;
  margin: 0 0 7px 0;
  /* for middle devises */
  /* for small devises */
  /* for extra small devises */
}
@media all and (min-width: 600px) and (max-width: 849px) {
  #right-sidebar .most-popular-news-wrapper .popular-videos-list li {
    width: 49.4%;
  }
}
@media all and (min-width: 480px) and (max-width: 599px) {
  #right-sidebar .most-popular-news-wrapper .popular-videos-list li {
    width: 49.4%;
  }
}
@media all and (min-width: 320px) and (max-width: 479px) {
  #right-sidebar .most-popular-news-wrapper .popular-videos-list li {
    width: 100%;
  }
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a {
  position: relative;
  display: block;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a .description-block {
  position: absolute;
  bottom: 6px;
  left: 0;
  color: #ffffff;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a .description-block h3 {
  font: 13px/15px MyriadPro-Semibold;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a .description-block span {
  font: 11px/13px MyriadPro-Regular;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a span.icn-play {
  width: 37px;
  height: 36px;
  display: block;
  background-position: -234px 0;
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 0 7px 0 0;
}
#right-sidebar .most-popular-news-wrapper .popular-videos-list li a img {
  width: 100%;
}
/*==============================
    CONTENT BOTTOM BLOCK
===============================*/
#content-bottom-wrapper {
  margin: 16px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 1px solid #eaeaea;
  clear: both;
  /* margin for middle devises*/
  /* margin for small devises*/
}
@media all and (min-width: 600px) and (max-width: 849px) {
  #content-bottom-wrapper {
    margin: 9px 0 0 0;
  }
}
@media all and (min-width: 480px) and (max-width: 599px) {
  #content-bottom-wrapper {
    margin: 9px 0 0 0;
  }
}
.ng-magazines-title {
  height: 32px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0;
}
.ng-magazines-title span.icn-magazines-sm {
  width: 15px;
  height: 16px;
  display: block;
  background-position: -54px -113px;
  margin: 7px 11px 0 12px;
  float: left;
}
.ng-magazines-title h4 {
  font: 12px/12px MyriadPro-Semibold;
  color: #777;
  display: block;
  float: left;
  margin: 9px 0 0 0;
}
.ng-magazines-title .right-arrows {
  float: right;
  margin: 4px 0 0 0;
}
.ng-magazines-title .right-arrows li {
  float: left;
  padding: 0 8px;
  border-right: 1px solid #eaeaea;
}
.ng-magazines-title .right-arrows li a {
  width: 21px;
  height: 21px;
  display: block;
}
.ng-magazines-title .right-arrows li a.icn-arrow-left {
  background-position: -65px -134px;
}
.ng-magazines-title .right-arrows li a.icn-arrow-right {
  background-position: -87px -134px;
}
.ng-magazines-title .right-arrows li:last-child {
  border-right: none;
}
.ng-magazines-list {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ng-magazines-list li {
  background: #ffffff;
  border: 1px solid #eaeaea;
  padding: 5px 5px 0 5px;
  overflow: hidden;
}
@media all and (max-width: 1060px) {
  .ng-magazines-list li {
    padding-bottom: 40px;
  }
}
@media all and (min-width: 850px) {
  .ng-magazines-list li {
    width: 24%;
  }
}
@media all and (min-width: 480px) and (max-width: 849px) {
  .ng-magazines-list li {
    width: 49%;
    margin: 0 0 10px 0;
  }
}
@media all and (min-width: 350px) and (max-width: 479px) {
  .ng-magazines-list li {
    width: 49%;
    margin: 0 0 10px 0;
  }
}
@media all and (max-width: 349px) {
  .ng-magazines-list li {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.ng-magazines-list li .item-preview {
  border: 1px solid #eaeaea;
  background: #fbfbfb;
  text-align: center;
  padding: 10px 2px 8px 2px;
  margin: 0 0 11px 0;
}
.ng-magazines-list li .item-preview h5 {
  margin: 13px 0 0 0;
}
.ng-magazines-list li .item-preview h5 a {
  font: 13px/15px MyriadPro-Semibold;
  color: #777;
  display: block;
  padding: 0 2px;
}
.ng-magazines-list li .magazine-rating .rating {
  width: 77px;
  margin: 3px 0 0 0;
  float: left;
}
@media all and (max-width: 1060px) {
  .ng-magazines-list li .magazine-rating .rating {
    float: none;
    margin: 0 auto;
  }
}
.ng-magazines-list li .magazine-rating span.views-counter {
  font: 11px/13px MyriadPro-Regular;
  color: #aeaeae;
  display: block;
  clear: both;
  float: left;
  margin: -3px 0 0 1px;
  padding: 0 0 2px 0;
}
@media all and (max-width: 1060px) {
  .ng-magazines-list li .magazine-rating span.views-counter {
    float: none;
    text-align: center;
  }
}
.ng-magazines-list li .subscribe {
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  margin: 5px -5px 0 0;
  float: right;
  min-height: 35px;
  display: block;
}
@media all and (max-width: 1060px) {
  .ng-magazines-list li .subscribe {
    float: none;
    border-left: none;
    margin-right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.ng-magazines-list li .subscribe span.icn-subscribe {
  display: block;
  width: 18px;
  height: 18px;
  background-position: -219px -112px;
  float: left;
  margin: 7px 0 0 7px;
}
.ng-magazines-list li .subscribe b {
  font-weight: normal;
  font: 12px/12px MyriadPro-Regular;
  text-transform: uppercase;
  color: #969696;
  padding: 3px 0 3px 6px;
  border-left: 1px solid #eaeaea;
  margin: 7px 0 0 8px;
  display: block;
  float: left;
}
/*==============================
    FOOTER
===============================*/
#footer {
  height: 70px;
  background: #242424;
  /* Search form */
  /* Social links */
  /* Social links icons */
  /* Footer menu */
  /* Copy Right */
}
@media all and (max-width: 1059px) {
  #footer {
    height: 117px;
  }
}
@media all and (max-width: 480px) {
  #footer {
    height: 40px;
  }
}
#footer .container .footer-inner {
  height: 70px;
  background: #1f1f1f;
}
@media all and (max-width: 1059px) {
  #footer .container .footer-inner {
    height: 117px;
  }
}
@media all and (max-width: 480px) {
  #footer .container .footer-inner {
    height: 40px;
  }
}
#footer .search-form {
  float: left;
  margin: 18px 0 0 10px;
  position: relative;
  padding: 0;
}
@media all and (max-width: 1059px) {
  #footer .search-form {
    margin-left: 2%;
  }
}
@media all and (max-width: 480px) {
  #footer .search-form {
    display: none;
  }
}
#footer .search-form input::-webkit-input-placeholder {
  color: #595959;
}
#footer .search-form input::-moz-placeholder {
  color: #595959;
}
#footer .search-form input:-moz-placeholder {
  color: #595959;
}
#footer .search-form input:-ms-input-placeholder {
  color: #595959;
}
#footer .search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}
#footer .search-form input:focus::-moz-placeholder {
  color: transparent;
}
#footer .search-form input:focus:-moz-placeholder {
  color: transparent;
}
#footer .search-form input:focus:-ms-input-placeholder {
  color: transparent;
}
#footer .search-form input[type=text] {
  width: 100%;
  height: 40px;
  padding: 0 33% 0 10px;
  font: italic 14px/16px MyriadPro-Regular;
  color: #595959;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #282828;
  border: 1px solid #1f1f1f;
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
#footer .search-form input[type=submit] {
  position: absolute;
  height: 31px;
  top: 0;
  right: 0;
  margin: 5px 4px 0 0;
  padding: 0 17px;
  font: 13px/15px MyriadPro-Semibold;
  color: #848484;
  background: #1f1f1f;
  border: 1px solid #292929;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  text-transform: uppercase;
}
#footer .social-links {
  float: left;
  margin: 26px 0 0 16px;
}
@media all and (min-width: 850px) and (max-width: 1059px) {
  #footer .social-links {
    float: right;
    margin: 26px 8% 0 0;
  }
}
@media all and (min-width: 480px) and (max-width: 849px) {
  #footer .social-links {
    float: right;
    margin: 26px 7% 0 0;
  }
}
@media all and (max-width: 480px) {
  #footer .social-links {
    display: none;
  }
}
#footer .social-links li {
  float: left;
  margin: 0 12px 0 0;
}
@media all and (min-width: 850px) and (max-width: 1059px) {
  #footer .social-links li {
    margin: 0 35px 0 0;
  }
}
@media all and (min-width: 480px) and (max-width: 849px) {
  #footer .social-links li {
    margin: 0 20px 0 0;
  }
}
#footer .social-links li a {
  display: block;
}
#footer .social-links li:last-child {
  margin-right: 0;
}
#footer .icn-fb {
  width: 12px;
  height: 25px;
  background-position: 0 -134px;
}
#footer .icn-tw {
  width: 30px;
  height: 25px;
  background-position: -13px -134px;
  margin: 1px 0 0 0;
}
#footer .icn-youtube {
  width: 19px;
  height: 19px;
  background-position: -45px -134px;
  margin: 4px 0 0 0;
}
#footer .footer-menu {
  float: right;
  margin: 20px 10px 6px 0;
}
@media all and (max-width: 1059px) {
  #footer .footer-menu {
    float: none;
    text-align: center;
    margin: 8px 0 6px 0;
  }
}
@media all and (max-width: 480px) {
  #footer .footer-menu {
    display: none;
  }
}
#footer .footer-menu li {
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  position: relative;
}
@media all and (max-width: 1059px) {
  #footer .footer-menu li {
    float: none;
    display: inline;
  }
}
#footer .footer-menu li a {
  font: 12px/14px MyriadPro-Regular;
  color: #bbb;
}
#footer .footer-menu li::after {
  width: 1px;
  height: 12px;
  background: url("../images/icons-sprite.png") -1px -164px no-repeat;
  display: block;
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px 0 0 0;
}
#footer .footer-menu li:first-child::after {
  background: none;
}
#footer .copy-right {
  float: right;
  clear: both;
  font: 12px/14px MyriadPro-Regular;
  color: #4a4a4a;
  margin: 0 45px 0 0;
}
@media all and (max-width: 1059px) {
  #footer .copy-right {
    float: none;
    text-align: center;
    margin: 0;
  }
}
@media all and (max-width: 480px) {
  #footer .copy-right {
    margin: 13px 0 0 0;
  }
}
@media all and (max-width: 340px) {
  #footer .copy-right {
    margin: 5px 0 0 0;
  }
}
