// Variables
@yellow: #fdcc05;
@dark-grey: #555555;
@light-grey: #999999;
@white: #ffffff;
@light-grey-border-color: #eaeaea;
// Fonts
@font-face {
    font-family: MyriadPro-Semibold;
    src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
    url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype'),
    url('../fonts/MyriadPro/MyriadPro-Semibold.svg#svgFontName') format('svg');
}

@font-face {
    font-family: MyriadPro-Regular;
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro/MyriadPro-Regular.svg#svgFontName') format('svg');
}


// Common style
body {
    font-family: MyriadPro-Semibold, Arial, sans-serif;
    background: #fbfbfb;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
}

input:focus {
    outline: none;
}

.icn-sprite {
    background: url("../images/icons-sprite.png") 0 0 no-repeat;
}

.icn-sprite-mm {
    background: #fbfbfb url("../images/icons-sprite.png") 0 0 no-repeat;
}
/*==============================
    FOOTER DOWN
===============================*/
html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
    text-align: left;

    @media all and (max-width: 1059px) {
        margin: 0 auto -117px;
    }

    @media all and (max-width: 480px) {
        margin: 0 auto -40px;
    }
}

.footer-push {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    clear: both;

    @media all and (max-width: 1059px) {
        height: 117px;
    }

    @media all and (max-width: 480px) {
        height: 40px;
    }
}

/*==============================
    RATING
===============================*/
.rating {
    border: none;
    float: left;
    padding: 0;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 0 1px 0 1px;
    font-size: 14px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/*===============================================
    RATING CSS MAGIC TO HIGHLIGHT STARS ON HOVER
================================================*/
.rating label:hover {
    cursor: pointer;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/*==============================
    HEADER
===============================*/
#header {
    padding: 37px 0 0 0;
    margin: 0 0 37px 0;

    @media all and (max-width: 850px) {
        margin-bottom: 15px;
        padding-top: 20px;
    }
}

/* Nav bar settings */
.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-wrapper {
    clear: both;

    .container {

        @media all and (max-width: 599px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.navbar-nav > li > a {
    padding: 0;
}

.navbar-default .navbar-nav > li > a:hover,

.navbar-default .navbar-nav > li > a:focus {
    color: @yellow;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active> a:focus {
    background: transparent;
}
/* fix for bootstrap nav pills first item */
.nav-pills > li + li {
    margin-left: 1px;
}

#first-collapse-block, #second-collapse-block {
    border: none;
    overflow: hidden;
}

.navbar-header {
    button.navbar-toggle {
        margin: 12px 0 0 0;
    }
}

/* Logo */
.logo {
    width: 162px;
    height: 48px;
    margin-top: 2px;
    display: block;
    background-position: -109px -136px;
}

/* Navbar right links */
.navbar-right-links {
    float: right;
    width: 163px;
    height: 50px;
    border: 1px solid #e8e8e8;
    background: @white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    text-align: center;

    @media screen and (min-width: 480px) and (max-width: 599px) {
        width: 30%;
        margin: 17px 0 0 0;
    }

    @media screen and (max-width: 479px) {
        margin: 10px 0 0 0;
        width: 40%;
    }

    li {
        display: inline-block;
        padding-top: 9px;
        padding-bottom: 9px;

        a {
            font: 14px/16px MyriadPro-Regular;
            color: @light-grey;

        }

        span.sing-up, span.login {
            display: block;
            margin: 0 auto;
            height: 17px;
        }

        span.sing-up {
            width: 16px;
            background: url("../images/icons-sprite.png") -133px -112px no-repeat;
        }

        span.login {
            width: 14px;
            background: url("../images/icons-sprite.png") -151px -112px no-repeat;
        }
    }

    li:first-child {
        padding-right: 10%;
        background: url("../images/separator.png") 100% 12px no-repeat;

        @media screen and (min-width: 480px) and (max-width: 599px) {
            padding-right: 7%;
        }

        @media screen and (max-width: 379px) {
            padding-right: 6%;
        }
    }

    li:last-child {
        padding-left: 10%;

        @media screen and (min-width: 480px) and (max-width: 599px) {
            padding-right: 7%;
        }

        @media screen and (max-width: 379px) {
            padding-right: 6%;
        }
    }
}

/* Search */
.search {
    //width: 444px;
    position: relative;
    float: right;
    margin: 0 23px 0 0;

    @media screen and (min-width: 1060px) {
        width: 444px;
    }

    @media screen and (min-width: 850px) and (max-width: 1059px) {
        margin: 0 13px 0 0;
        width: 380px;
    }

    @media screen and (min-width: 600px) and (max-width: 849px) {
        width: 100%;
        margin: 10px 0 0 0;
    }

    @media screen and (min-width: 480px) and (max-width: 599px) {
        width: 68%;
        margin: 17px 0 0 0;
        float: left;
    }

    @media screen and (max-width: 479px) {
        float: left;
        margin: 10px 0 0 0;
        width: 57%;
    }

    input {
        border: none;
    }

    // SEARCH PLACEHOLDER STYLES
    input::-webkit-input-placeholder {
        color: #e7e7e7;
    }
    input::-moz-placeholder {
        color: #e7e7e7;
    }
    input:-moz-placeholder {
        color: #e7e7e7;
    }
    input:-ms-input-placeholder {
        color: #e7e7e7;
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }
    input:focus::-moz-placeholder {
        color: transparent
    }
    input:focus:-moz-placeholder {
        color: transparent
    }
    input:focus:-ms-input-placeholder {
        color: transparent
    }

    input[type=text] {
        width: 100%;
        height: 50px;
        padding: 0 45% 0 43px;
        font: italic 15px/17px MyriadPro-Regular;
        color: #e7e7e7;
        border: 1px solid #e8e8e8;
        background: @white;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;

        @media screen and (min-width: 850px) and (max-width: 1059px) {
            padding: 0 52% 0 43px;
        }

        @media screen and (min-width: 600px) and (max-width: 849px) {
            padding: 0 40% 0 43px;
        }

        @media screen and (min-width: 480px) and (max-width: 599px) {
            padding: 0 15% 0 43px;
        }

        @media screen and (max-width: 479px) {
            padding: 0 24% 0 43px;
        }
    }

    span.search-icon {
        width: 21px;
        height: 21px;
        background-position: -69px -113px;
        display: block;
        position: absolute;
        margin-top: 14px;
        margin-left: 9px;
        top: 0;
        left: 0;
    }

    /* Search drop down categories */
    .search-categories-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        border-right: 1px solid @light-grey-border-color;
        border-left: 1px solid @light-grey-border-color;
        padding: 4px 12px 4px 12px;
        margin-right: 43px;
        margin-top: 12px;

        @media all and (max-width: 600px) {
            display: none;
        }

        .search-dropdown {
            font: 15px/17px MyriadPro-Regular;
            color: #e7e7e7;
            text-decoration: none;

            span {
                width: 18px;
                height: 9px;
                background-position: -90px -114px;
                display: inline-block;
                margin: 0 0 0 10px;
            }
        }

        .dropdown-menu {

            li {
                clear: both;
            }
        }
    }

    input[type=submit] {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 14px;
        margin-right: 11px;
        width: 22px;
        height: 22px;
        background-position: -109px -112px;
    }
}

/* Main menu */
.main-menu {
    width: 100%;
    margin: 39px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    float: none;

    @media all and (min-width: 850px) {
        background: url("../images/mm-line.png") 0 15px repeat-x;
    }

    @media all and (max-width: 850px) {
        margin-top: 20px;
        border-bottom: 1px solid @light-grey-border-color;
    }

    li {
        text-align: center;
        display: inline-block;
        float: none;

        @media all and (max-width: 1060px) {
            margin-bottom: 20px;
        }

        @media all and (min-width: 850px) and (max-width: 1059px) {
            width: auto;
        }

        @media all and (max-width: 480px) {
            width: 50%;
        }

        a {
            color: @dark-grey;
            font: 16px/16px MyriadPro-Semibold;

            i {
                background: #fbfbfb;
                padding: 0 6px;
                display: inline-block;
            }

            span {
                display: block;
            }

            b {
                display: block;
                font-weight: normal;
            }
        }

        &.active {
            a {
                b {
                    color: @yellow;
                }
            }
        }
    }


}

/* Main menu bg styles */
.mm-home-link {

    span {
        width: 26px;
        height: 24px;
        margin: 3px auto 21px auto;
        background-position: 0 0;
    }
}

.mm-home-link:hover,
.main-menu li.active > a.mm-home-link
{
    span {
        background-position: 0 -25px;
    }
}

.mm-photo-link {
    span {
        width: 26px;
        height: 18px;
        margin: 7px auto 23px auto;
        background-position: -28px -6px;
    }
}

.mm-photo-link:hover,
.main-menu li.active > a.mm-photo-link
{
    span {
        background-position: -28px -31px;
    }
}

.mm-video-link {
    span {
        width: 26px;
        height: 14px;
        margin: 9px auto 25px auto;
        background-position: -56px -10px;
    }
}

.mm-video-link:hover,
.main-menu li.active > a.mm-video-link
{
    span {
        background-position: -56px -35px;
    }

}

.mm-env-link {
    span {
        width: 25px;
        height: 24px;
        margin: 5px auto 19px auto;
        background-position: -84px 0;
    }
}

.mm-env-link:hover,
.main-menu li.active > a.mm-env-link
{
    span {
        background-position: -84px -25px;
    }
}

.mm-travel-link {
    span {
        width: 26px;
        height: 17px;
        margin: 8px auto 23px auto;
        background-position: -111px -7px;
    }
}

.mm-travel-link:hover,
.main-menu li.active > a.mm-travel-link
{
    span {
        background-position: -111px -31px;
    }

}

.mm-adventure-link {
    span {
        width: 26px;
        height: 25px;
        margin: 1px auto 22px auto;
        background-position: -139px 0;
    }
}

.mm-adventure-link:hover,
.main-menu li.active > a.mm-adventure-link
{
    span {
        background-position: -139px -25px;
    }
}

.mm-tv-link {
    span {
        width: 26px;
        height: 25px;
        margin: 0 auto 23px auto;
        background-position: -165px 0;
    }
}

.mm-tv-link:hover,
.main-menu li.active > a.mm-tv-link
{
    span {
        background-position: -165px -26px;
    }
}

.mm-kids-link {
    span {
        width: 21px;
        height: 29px;
        margin: 3px auto 16px auto;
        background-position: -193px 0;
    }
}

.mm-kids-link:hover,
.main-menu li.active > a.mm-kids-link
{
    span {
        background-position: -193px -30px;
    }
}
/*==============================
    CONTENT
===============================*/
#main > .container {
    padding-bottom: 20px;
}

#content {
    @media all and (min-width: 850px) {
        border-right: 1px solid @light-grey-border-color;
    }
}

/* Content left navigation */
.content-left-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @media all and (min-width: 1059px) {
        border-right: 1px solid @light-grey-border-color;
    }

    li {
        width: 48%;
        text-align: center;
        margin: 0 0 6px 0;

        /* for tablets */
        @media all and (min-width: 850px) and (max-width: 1059px) {
            width: 19%;
        }

        /* for middle devises */
        @media all and (min-width: 600px) and (max-width: 849px) {
            width: 19%;
        }

        /* for small devises */
        @media all and (min-width: 480px) and (max-width: 599px) {
            width: 19%;
        }

        /* for extra small devises */
        @media all and (min-width: 320px) and (max-width: 479px) {
            width: 19%;
        }

        @media all and (max-width: 359px) {
            width: 49%;
        }

        a {
            min-height: 70px;
            line-height: 68px !important;
            display: block;
            border: 1px solid @light-grey-border-color;
            background: @white;
            font: 12px/14px MyriadPro-Regular;
            color: #777;

            .nav-content-info {
                line-height: normal !important;
                display: inline-block;
                vertical-align: middle;
            }

            span {
                display: inline-block;
            }

            b {
                font-weight: normal;
                display: block;
                margin: 5px 0 0 0;
            }

            /* content left menu icons sizes */
            span.icn-daily-news {
                width: 26px;
                height: 22px;
                background-position: -2px -59px;
            }

            span.icn-magazine {
                width: 26px;
                height: 26px;
                background-position: -29px -59px;
            }

            span.icn-maps {
                width: 26px;
                height: 26px;
                background-position: -56px -59px;
            }

            span.icn-science {
                width: 23px;
                height: 27px;
                background-position: -86px -59px;
            }

            span.icn-education {
                width: 31px;
                height: 22px;
                background-position: -109px -59px;
            }

            span.icn-games {
                width: 26px;
                height: 25px;
                background-position: -141px -59px;
            }

            span.icn-events {
                width: 26px;
                height: 27px;
                background-position: -170px -59px;
            }

            span.icn-blogs {
                width: 26px;
                height: 26px;
                background-position: -197px -59px;
            }

            span.icn-explorers {
                width: 19px;
                height: 26px;
                background-position: -224px -59px;
            }

            span.icn-trips {
                width: 26px;
                height: 21px;
                background-position: -244px -59px;
            }
        }

        a:hover, &.active a {
            background: @dark-grey;
            border: none;
            color: @white;

            /* content left menu icons sizes on hover */
            span.icn-daily-news {
                background-position: -2px -86px;
            }

            span.icn-magazine {
                background-position: -29px -86px;
            }

            span.icn-maps {
                background-position: -56px -86px;
            }

            span.icn-science {
                background-position: -86px -86px;
            }

            span.icn-education {
                background-position: -109px -86px;
            }
            span.icn-games {
                background-position: -141px -86px;
            }

            span.icn-events {
                background-position: -170px -86px;
            }

            span.icn-blogs {
                background-position: -197px -86px;
            }

            span.icn-explorers {
                background-position: -224px -86px;
            }

            span.icn-trips {
                background-position: -244px -86px;
            }
        }

    }



    li:last-child, li:nth-last-child(2) {
        margin: 0;
    }

}

/* Content tabs */
.nav-pills {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    /* for tablet */
    @media all and (min-width: 850px) and (max-width: 1059px) {
        margin: 5px 0 20px 0;
        padding-top: 10px;
        border-top: 1px solid @light-grey-border-color;
    }

    /* for middle devises */
    @media all and (min-width: 600px) and (max-width: 849px) {
        margin: 5px 0 20px 0;
        padding-top: 10px;
        border-top: 1px solid @light-grey-border-color;
    }
    /* for small devises */
    @media all and (min-width: 480px) and (max-width: 699px) {
        margin: 5px 0 20px 0;
        padding-top: 10px;
        border-top: 1px solid @light-grey-border-color;
    }

    /* for extra small devises */
    @media all and (min-width: 360px) and (max-width: 479px) {
        margin: 5px 0 8px 0;
        padding-top: 10px;
        border-top: 1px solid @light-grey-border-color;

    }

    @media all and (max-width: 359px) {
        margin: 10px 0 8px 0;
        padding-top: 10px;
        border-top: 1px solid @light-grey-border-color;

    }

    li {
        width: 16%;

        @media all and (min-width: 320px) and (max-width: 479px) {
            width: 33%;
            margin-bottom: 2px;
        }


        a {
            text-align: center;
            font: 12px/11px MyriadPro-Regular;
            color: @dark-grey;
            padding: 10px 0;
            border-radius: 0;
            border: 1px solid @light-grey-border-color;
            background: @white;
            display: block;
        }

        a:hover {
            background: @dark-grey;
            color: @white;
            border: 1px solid @dark-grey;
        }
    }

    li.active {

        a {
            background: @dark-grey !important;
            border: 1px solid @dark-grey;
        }
    }

    li.active a::after {

        @media all and (min-width: 480px) {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid @dark-grey;
            content: " ";
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform:translateX(-50%);
        }
    }

}

/* Slider */
.slider {

    .carousel-caption {
        position: relative;
        top: 0;
        left: 0;
        color: @dark-grey;
        text-align: left;
        padding: 0 0 0 14px;
        border: 1px solid @light-grey-border-color;
        text-shadow: none;
        float: left;
        width: 100%;

        .slide-description-wrapper {
            width: 80%;
            float: left;
            margin: 8px 0 8px 0;

            h2 {
                font: 15px/17px MyriadPro-Semibold;
                padding: 0 0 2px 0;
            }

            p {
                font: 11px/17px MyriadPro-Regular;
                margin: 0;
            }
        }

        a {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 53px;
            line-height: 53px;
            min-height: 100%;
            height: 100%;
            border-left: 1px solid @light-grey-border-color;
            text-align: center;

            span.icn-play {
                display: inline-block;
                width: 14px;
                height: 16px;
                background-position: -169px -115px;
            }
        }
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        top: 0;
        left: auto;
        width: auto;
        height: 35px !important;
        margin: 0;

        li {
            width: auto;
            height: auto;
            padding: 8px 11px;
            background: @dark-grey;
            border: none;
            text-indent: 0;
            border-radius: 0;
            font:16px/16px MyriadPro-Semibold;
            color: @white;
            margin: 0;
            float: left;
        }

        li.active {
            background: @yellow;
        }

    }

    .item img {
        display: block;
        line-height: 1;
        width: 100%;
        max-height: 226px;
    }
}

/* Content bottom filter */
.content-filter-wrapper {
    margin: 10px 0 0 0;

    .content-bottom-filter {
        height: 32px;
        border: 1px solid @light-grey-border-color;
        background: @white;

        .filter-title {
            margin: 8px 0 0 12px;
            float: left;

            p {
                font: 12px/16px MyriadPro-Semibold;
                color: @dark-grey;
                vertical-align: middle !important;
                display: inline-block;
            }

            span.icn-time {
                width: 16px;
                height: 16px;
                background-position: -2px -112px;
                display: inline-block;
                margin: 0 8px 0 0;
            }
        }

        .filter-menu-wrapper {
            float: left;
            margin: 5px 0 0 19px;
            border-left: 1px solid @light-grey-border-color;
            padding: 4px 0 4px 25px;
            position: relative;

            .news-filter-dropdown {
                font: 12px/12px MyriadPro-Regular;
                color: #cecece;
                text-decoration: none;

                @media all and (max-width: 375px) {
                    display: none;
                }

                span {
                    width: 18px;
                    height: 9px;
                    background-position: -90px -114px;
                    display: inline-block;
                    margin: 0 0 0 10px;
                }
            }

        }

        .sorting-list {
            float: right;
            margin: -1px 0 0 0;
            li {
                float: left;

                a {
                    display: block;
                    background: @dark-grey;
                    text-align: center;
                    padding: 0 13px;
                    height: 31px;
                    line-height: 32px;

                    span {
                        display: inline-block;
                    }

                    span.icn-sort-table {
                        width: 16px;
                        height: 14px;
                        background-position: -20px -113px;
                    }

                    span.icn-sort-grid {
                        width: 16px;
                        height: 17px;
                        background-position: -37px -113px;
                    }
                }

                a.sort-table {
                    line-height: 35px;
                }

                a.sort-grid {
                    line-height: 40px;
                }

                a:hover {
                    background: @yellow;
                }
            }
        }
    }
}

/* Content list news */
.content-list-news-wrapper {
    margin: 7px 0 -11px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
        width: 49.4%;
        background: @white;
        border: 1px solid @light-grey-border-color;
        padding: 5px;
        margin: 0 0 10px 0;

        /* Article width for middle devises */
        @media all and (min-width: 600px) and (max-width: 849px) {
            width: 100%;
        }

        /* Article width for small devises */
        @media all and (min-width: 480px) and (max-width: 599px) {
            width: 100%;
        }

        /* Article width for extra small devises */
        @media all and (max-width: 479px) {
            width: 100%;
        }

        .article-preview {
            float: left;
            width: 100%;
            padding: 5px;
            background: #fbfbfb;
            border: 1px solid @light-grey-border-color;
            margin: 0 0 12px 0;

            a {
                display: block;

                img {
                    width: 100%;
                    margin: 0 0 9px 0;
                }
            }

            .article-title-wrapper {
                padding: 0;
                float: left;

                h1 {
                    margin: 0 0 0 2px;

                    a {
                        font: 14px/16px MyriadPro-Semibold;
                        color: @dark-grey;
                    }
                }

                span.time {
                    font: 11px/13px MyriadPro-Regular;
                    color: #b9b9b9;
                    margin: 0 0 0 2px;
                }
            }

            .rating-wrapper {
                float: right;
                margin: -3px 0 0 0;
                padding: 0;

                span.views-counter {
                    font: 11px/13px MyriadPro-Regular;
                    color: #b9b9b9;
                    display: block;
                    margin: -5px 0 0 6px;
                    float: left;
                    clear: both;
                }
            }
        }

        p {
            font: 12px/15px MyriadPro-Regular;
            color: #b5b5b5;
            text-align: justify;
            padding: 0 2px 0 2px;
        }
    }
}

/*==============================
    SIDEBARS
===============================*/
#right-sidebar {
    float: left;

    /* Right side bar top margin for small and extra small devises */
    @media all and (max-width: 849px) {
        margin: 10px 0 0 0;
    }

    .most-popular-news-wrapper {
        float: left;

        .sidebar-title {
            padding: 7px 8px 3px 8px;
            background: @white;
            border: 1px solid @light-grey-border-color;
            float: left;
            width: 100%;

            span {
                margin: 0 10px 0 0;
            }

            span.icn-star {
                width: 16px;
                height: 16px;
                display: inline-block;
                background-position: -185px -115px;
            }

            span.icn-video {
                width: 16px;
                height: 12px;
                display: inline-block;
                background-position: -202px -115px;
                margin: -3px 10px 0 0;
            }

            h2 {
                font: 12px/16px MyriadPro-Semibold;
                color: #777;
                display: inline-block;
                vertical-align: top;
                margin: 1px 0 0 0;
            }
        }

        .popular-news-list {
            float: left;
            margin: 6px 0 0 0;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                width: 100%;
                padding: 5px;
                background: #fbfbfb;
                border: 1px solid @light-grey-border-color;
                margin: 0 0 7px 0;

                /* for middle devises */
                @media all and (min-width: 600px) and (max-width: 849px) {
                    width: 49.4%;
                }

                /* for small devises */
                @media all and (min-width: 480px) and (max-width: 599px) {
                    width: 49.4%;
                }

                /* for extra small devises */
                @media all and (min-width: 320px) and (max-width: 479px) {
                    width: 100%;
                }

                a {
                    display: block;

                    img {
                        width: 100%;
                    }
                }

                .description-news {
                    margin: 7px 0 0 0;

                    .left-block {

                        h3 {
                            font: 13px/15px MyriadPro-Semibold;
                            color: #777;
                            margin: 0 0 3px 1px;
                        }

                        span {
                            display: block;
                            font: 11px/13px MyriadPro-Regular;
                            color: #b9b9b9;
                            margin: 0 0 0 1px;
                        }
                    }

                    .right-block {

                        .rating {
                            float: right;
                            margin: -2px 0 0 0;
                        }

                        span {
                            font: 11px/13px MyriadPro-Regular;
                            color: #b9b9b9;
                            display: block;
                            margin: -5px 15px 0 0;
                            float: right;
                        }
                    }
                }
            }
        }

        .popular-videos-list {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            float: left;
            margin: 6px 0 0 0;
            width: 100%;

            li {
                width: 100%;
                padding: 5px;
                background: #fbfbfb;
                border: 1px solid @light-grey-border-color;
                margin: 0 0 7px 0;

                /* for middle devises */
                @media all and (min-width: 600px) and (max-width: 849px) {
                    width: 49.4%;
                }

                /* for small devises */
                @media all and (min-width: 480px) and (max-width: 599px) {
                    width: 49.4%;
                }

                /* for extra small devises */
                @media all and (min-width: 320px) and (max-width: 479px) {
                    width: 100%;
                }

                a {
                    position: relative;
                    display: block;

                    .description-block {
                        position: absolute;
                        bottom: 6px;
                        left: 0;
                        color: @white;

                        h3 {
                            font: 13px/15px MyriadPro-Semibold;
                        }

                        span {
                            font: 11px/13px MyriadPro-Regular;
                        }
                    }

                    span.icn-play {
                        width: 37px;
                        height: 36px;
                        display: block;
                        background-position: -234px 0;
                        position: absolute;
                        right: 0;
                        bottom: 10px;
                        margin: 0 7px 0 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*==============================
    CONTENT BOTTOM BLOCK
===============================*/
#content-bottom-wrapper {
    margin: 16px 0 0 0;
    padding: 15px 0 0 0;
    border-top: 1px solid @light-grey-border-color;
    clear: both;

    /* margin for middle devises*/
    @media all and (min-width: 600px) and (max-width: 849px) {
        margin: 9px 0 0 0;
    }

    /* margin for small devises*/
    @media all and (min-width: 480px) and (max-width: 599px) {
        margin: 9px 0 0 0;
    }
}

.ng-magazines-title {
    height: 32px;
    background: @white;
    border:1px solid @light-grey-border-color;
    padding: 0;

    span.icn-magazines-sm {
        width: 15px;
        height: 16px;
        display: block;
        background-position: -54px -113px;
        margin: 7px 11px 0 12px;
        float: left;
    }

    h4 {
        font: 12px/12px MyriadPro-Semibold;
        color: #777;
        display: block;
        float: left;
        margin: 9px 0 0 0;
    }

    .right-arrows {
        float: right;
        margin: 4px 0 0 0;

        li {
            float: left;
            padding: 0 8px;
            border-right: 1px solid @light-grey-border-color;

            a {
                width: 21px;
                height: 21px;
                display: block;
            }

            a.icn-arrow-left {
                background-position: -65px -134px;
            }

            a.icn-arrow-right {
                background-position: -87px -134px;
            }
        }

        li:last-child {
            border-right: none;
        }
    }
}

.ng-magazines-list {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        background: @white;
        border: 1px solid @light-grey-border-color;
        padding: 5px 5px 0 5px;
        overflow: hidden;

        @media all and (max-width: 1060px) {
            padding-bottom: 40px;
        }

        @media all and (min-width: 850px) {
            width: 24%;
        }

        @media all and (min-width: 480px) and (max-width: 849px) {
            width: 49%;
            margin: 0 0 10px 0;
        }

        @media all and (min-width: 350px) and (max-width: 479px) {
            width: 49%;
            margin: 0 0 10px 0;
        }

        @media all and (max-width: 349px){
            width: 100%;
            margin: 0 0 10px 0;
        }

        .item-preview {
            border: 1px solid @light-grey-border-color;
            background: #fbfbfb;
            text-align: center;
            padding: 10px 2px 8px 2px;
            margin: 0 0 11px 0;

            h5 {
                margin: 13px 0 0 0;

                a {
                    font: 13px/15px MyriadPro-Semibold;
                    color: #777;
                    display: block;
                    padding: 0 2px
                }
            }
        }

        .magazine-rating {

            .rating {
                width: 77px;
                margin: 3px 0 0 0;
                float: left;

                @media all and (max-width: 1060px) {
                    float: none;
                    margin: 0 auto;
                }
            }

            span.views-counter {
                font: 11px/13px MyriadPro-Regular;
                color: #aeaeae;
                display: block;
                clear: both;
                float: left;
                margin: -3px 0 0 1px;
                padding: 0 0 2px 0;

                @media all and (max-width: 1060px) {
                    float: none;
                    text-align: center;
                }
            }
        }

        .subscribe {
            border-top: 1px solid @light-grey-border-color;
            border-left: 1px solid @light-grey-border-color;
            margin: 5px -5px 0 0;
            float: right;
            min-height: 35px;
            display: block;

            @media all and (max-width: 1060px) {
                float: none;
                border-left: none;
                margin-right: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }

            span.icn-subscribe {
                display: block;
                width: 18px;
                height: 18px;
                background-position: -219px -112px;
                float: left;
                margin: 7px 0 0 7px;
            }

            b {
                font-weight: normal;
                font: 12px/12px MyriadPro-Regular;
                text-transform: uppercase;
                color: #969696;
                padding: 3px 0 3px 6px;
                border-left: 1px solid @light-grey-border-color;;
                margin: 7px 0 0 8px;
                display: block;
                float: left;
            }
        }
    }
}
/*==============================
    FOOTER
===============================*/
#footer {
    height: 70px;
    background: #242424;

    @media all and (max-width: 1059px) {
        height: 117px;
    }

    @media all and (max-width: 480px) {
        height: 40px;
    }

    .container {
        .footer-inner {
            height: 70px;
            background: #1f1f1f;

            @media all and (max-width: 1059px) {
                height: 117px;
            }

            @media all and (max-width: 480px) {
                height: 40px;
            }
        }
    }

    /* Search form */
    .search-form {
        float: left;
        margin: 18px 0 0 10px;
        position: relative;
        padding: 0;

        @media all and (max-width: 1059px) {
            margin-left: 2%;
        }

        @media all and (max-width: 480px) {
            display: none;
        }

        // SEARCH PLACEHOLDER STYLES
        input::-webkit-input-placeholder {
            color: #595959;
        }
        input::-moz-placeholder {
            color: #595959;
        }
        input:-moz-placeholder {
            color: #595959;
        }
        input:-ms-input-placeholder {
            color: #595959;
        }

        input:focus::-webkit-input-placeholder {
            color: transparent
        }
        input:focus::-moz-placeholder {
            color: transparent
        }
        input:focus:-moz-placeholder {
            color: transparent
        }
        input:focus:-ms-input-placeholder {
            color: transparent
        }

        input[type=text] {
            width: 100%;
            height: 40px;
            padding: 0 33% 0 10px;
            font: italic 14px/16px MyriadPro-Regular;
            color: #595959;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -khtml-border-radius: 4px;
            border-radius: 4px;
            background: #282828;
            border: 1px solid #1f1f1f;
            -moz-box-shadow:    inset 0 0 10px #000;
            -webkit-box-shadow: inset 0 0 10px #000;
            box-shadow:         inset 0 0 10px #000;
        }

        input[type=submit] {
            position: absolute;
            height: 31px;
            top: 0;
            right: 0;
            margin: 5px 4px 0 0;
            padding: 0 17px;
            font: 13px/15px MyriadPro-Semibold;
            color: #848484;
            background: #1f1f1f;
            border: 1px solid #292929;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -khtml-border-radius: 4px;
            text-transform: uppercase;
        }
    }

    /* Social links */
    .social-links {
        float: left;
        margin: 26px 0 0 16px;

        @media all and (min-width: 850px) and (max-width: 1059px) {
            float: right;
            margin: 26px 8% 0 0;
        }

        @media all and (min-width: 480px) and (max-width: 849px) {
            float: right;
            margin: 26px 7% 0 0;
        }

        @media all and (max-width: 480px) {
            display: none;
        }

        li {
            float: left;
            margin: 0 12px 0 0;

            @media all and (min-width: 850px) and (max-width: 1059px) {
                margin: 0 35px 0 0;
            }

            @media all and (min-width: 480px) and (max-width: 849px) {
                margin: 0 20px 0 0;
            }

            a {
                display: block;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }

    /* Social links icons */
    .icn-fb {
        width: 12px;
        height: 25px;
        background-position: 0 -134px;
    }

    .icn-tw {
        width: 30px;
        height: 25px;
        background-position: -13px -134px;
        margin: 1px 0 0 0;
    }

    .icn-youtube {
        width: 19px;
        height: 19px;
        background-position: -45px -134px;
        margin: 4px 0 0 0;
    }

    /* Footer menu */
    .footer-menu {
        float: right;
        margin: 20px 10px 6px 0;

        @media all and (max-width: 1059px) {
            float: none;
            text-align: center;
            margin: 8px 0 6px 0;
        }

        @media all and (max-width: 480px) {
            display: none;
        }

        li {
            float: left;
            margin: 0 0 0 10px;
            padding: 0 0 0 10px;
            position: relative;

            @media all and (max-width: 1059px) {
                float: none;
                display: inline;
            }

            a {
                font: 12px/14px MyriadPro-Regular;
                color: #bbb;
            }
        }

        li::after {
            width: 1px;
            height: 12px;
            background: url("../images/icons-sprite.png") -1px -164px no-repeat;
            display: block;
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            margin: 5px 0 0 0;
        }

        li:first-child::after {
            background: none;
        }
    }

    /* Copy Right */
    .copy-right {
        float: right;
        clear: both;
        font: 12px/14px MyriadPro-Regular;
        color: #4a4a4a;
        margin: 0 45px 0 0;

        @media all and (max-width: 1059px) {
            float: none;
            text-align: center;
            margin: 0;
        }

        @media all and (max-width: 480px) {
            margin: 13px 0 0 0;
        }

        @media all and (max-width: 340px) {
            margin: 5px 0 0 0;
        }
    }
}





